<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t ".title" %></h1>
  <h1><%= t ".welcome" %></h1>
  <h2>
    <%= t ".intro_home" %>
    <%= link_to t("static_pages.rails_tutorial"), locale: "http://www.railstutorial.org/" %>
  </h2>
</div>
