*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/*
/test/
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
config/database.yml
config/credentials.yml.enc

node_modules/
/test
.byebug_history

.dat*
.repl_history
build/
*.bridgesupport
build-iPhoneOS/
build-iPhoneSimulator/
log/development.log
/log/

/.yardoc/
/_yardoc/
/doc/
/rdoc/

/.bundle/
/vendor/bundle
/lib/bundler/man/
.rvmrc
.framgia-ci-reports/
.framgia-ci-result.temp.yml
test

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/environments/development.rb
