<% provide :title, t(".signup") %>
<% provide(:button_text, t(".signup")) %>
<div class="center jumbotron">
  <h2><%= t ".signup" %></h2>
  <div class="row">
    <%= render "form" %>
    </div>
  </div>
</div>
